.logo{
    height: 35px;
    margin-top: 10px;
}

/* buttons */
#btnsign{
    color: #265DF8;
    border-color: #265DF8;
    padding: 5px;
    vertical-align: middle;
    height: 100%;
}
#btnwater{
    background-color: #5C95F9;
    border-color: #5C95F9;
    color: white;
}
#btnwhite{
    color: #265DF8;
    background-color: white;
    border-color: white;
}

/* fonts */
*{
    font-weight: 600;
}
.fontheader{
    font-size: 14px;
}
#fontblack{
    color: black;
}
.bigwhite{
    font-size: 50px;
    color: white;
}
.lilgray{
    font-size: 14px;
    color: gray;
}
.mediumgray{
    font-size: 16px;
    color: lightgray;
}
.mediumgray2{
    font-size: 16px;
    color: gray;
}
.lilwhite{
    font-size: 14px;
    color: white;
}
.mediumwhite{
    color: white;
    font-size: 35px;
}
.bigblack{
    font-size: 25px;
    color: black;
}
.biggerblack{
    font-size: 35px;
    color: black;
}
.bigblue{
    font-size: 30px;
    color: #265DF8;
}
.lilblue{
    color: #265DF8;
}

/* sezioni */

/* header */
header{
    font-size: 14px;
}
#temppadding{
    padding-left: 5px;
    padding-right: 5px;
}


/* sezione1 */

.section1{ /* creabanner */
    background-image: url(img/bg-banner-home.jpg);
    background-size: 150%;
    padding: 50px;
}
.inputline{
    width: fit-content;
    margin-bottom: 5px;
}
.creaaccount{
    background-color: white;
    border-radius: 5px;
    padding: 20px 0;
}
.creaaccount > p, .section2 > p, .section3 > p, .section7 > p{
    text-align: center;
}
.google{
    height: 15px;
    margin-right: 30px;
}

/* section 2 */
.section2{
    background-color: lightgray;
    padding: 50px;
}
.graybg{
    background-color: lightgray;
}
.verticalcenter > .row > div > img{
    width: 100%;
}
.verticalcenter2{
    display: flex;
    align-items: center;
}

/* section 3 */
.section3{
    padding: 75px 0;
}



/* sezione 7 section 4 */
.section7, .section4{
    background-color: lightgray;
    padding: 50px;
}
.section7 > div, .section4 > div, .section4 > p {
    text-align: center;
    margin-top: 40px;
}
.magmin{
    font-size: 40px;
    font-weight: 900;
    vertical-align: middle;
    line-height: 250px;
}
.slidebox{
    background-color: white;
    text-align: center;
    padding:  30px 10px;
}
.slidebox > img{
    margin-bottom: 20px;
}
.balls1, .balls2{
    height: 15px;
    width: 15px;
    background-color: lightgray;
    border: 1px solid #265DF8;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
}
.balls1{
    background-color: #265DF8;
}



/* last section */
.lastsection{
    background-color: #191FA8;
    text-align: center;
    padding: 50px;
}

/* footer */
footer{
    background-color: #08184C;
    padding: 50px 0;
}


/* help */
.help{
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 10%;
    margin-bottom: 20px;
}
.help > div{
    display: inline-block;
    vertical-align: middle;
}
.help1{
    background-color: white;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    transform: translateX(5px)
}
.help2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #ffffff;
}
.help3{
    background-color: aqua;
    border-radius: 10px;
}
.popup{
    height: 30px;
    width: 30px;
    background-color: red;
    border: 3px solid white;
    color: white;
    transform: translate(-60%, -100%);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}